body { 
    padding-top: 70px;
    padding-bottom: 70px; }

@media screen and (max-width: 265px) {
    h1{
        font-size:30px;
    }
}

@media screen and (max-width: 210px) {
    h1{
        font-size:26px;
    }
}